<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link href="portfolio.css" type="text/css" rel="stylesheet">
    <title>Hallo Welt</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="wrapper">
    <header>
        <h1>Hallo Welt</h1>
        <hr id="h1-hr"/>
    </header>

    <nav>
        <a href="index.html">Start</a> <br />
        <a href="person_form.html">Personen</a>
    </nav>

    <main>
    <section id="person">
        <h2>Personen</h2>
        <p>Zum Ändern oder Löschen der Personen einen Datensatz anklicken:</p>
        <table id="person-table">
            <thead>
            <tr>
                <td>ID</td>
                <td>Email</td>
                <td>Vorname</td>
                <td>Nachname</td>
                <td>Avatar</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="person in persons" :key="person.id" :data-person-id="person.id" :class="{select: person.select}" @click="clickPerson">
                <td>{{person.id}}</td>
                <td>{{person.email}}</td>
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td><img :src="person.avatar"/></td>
            </tr>
            </tbody>
        </table>
        <p v-if="loadInfo">Personendaten werden geladen...</p>
        <div class="tpages">
            <button class="std-button" type="button" @click="priorPage" :disabled="cFirstPage">Vorherige Seite</button>
            <button class="std-button" type="button" @click="nextPage" :disabled="cLastPage">Nächste Seite</button>
        </div>

        <h3>{{formTitle}}</h3>
        <form id="form">
            <label>ID:</label><br />
            <input type="text" v-model="formData.id" :disabled="disableId"><br />

            <label>Email:</label><br />
            <input type="text" v-model="formData.email" class="email"><br />

            <label>Vorname:</label><br />
            <input type="text" v-model="formData.firstName"><br />

            <label>Nachname:</label><br />
            <input type="text" v-model="formData.lastName"><br />

            <label>*Avatar-URI:</label><br />
            <input type="text" v-model="formData.avatar" class="avatar"><br />
            <img v-bind:src="formData.avatar" class="avatar_img"/>

            <button class="std-button" type="button" v-on:click="sendData">{{formSubmit}}</button>
            <button class="warn-button" type="button" @click="showDeleteDlg = true" v-if="edit">Löschen</button>

            <div v-if="showDeleteDlg">
                <p>Wirklich löschen?</p>
                <button class="warn-button" type="button" @click="deleteData">Ja</button>
                <button class="std-button" type="button" @click="showDeleteDlg = false">Nein</button>
            </div>
        </form>
        <div v-if="showPopup" class="popup">
            <span>{{popupText}}</span>
        </div>
    </section>
    </main>
</div>
<script src="vuejs_person_form.js"></script>
</body>
</html>